$primary-color: #f29530ff;
$primary-light: #f3f5f7;
$primary-light-hover: #c1cbd7;
$primary-dark: #2b2d42;

$font-primary: "Vinyl Regular", sans-serif;
// $font-secondary: "Roboto Regular", sans-serif;
$font-secondary: "Rubik Regular", sans-serif;
